*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navBar{
    display: flex;
    background: rgb(3, 3, 36);
    padding: 5px 134px !important;
    align-items: center; 
}
#logomarvel{
    height: 26px;
    width: 65px;
}
.uxButtons{
    display: flex;
    justify-content: space-between;
}
.uxButtons a{
    color: gray;
    list-style: none;
    text-decoration: none;
}
.uxButtons ul{
    display: flex;
    list-style: none;
}
.uxButtons2 li{
    padding: 0 5px;
}
.fa-solid{ /* icono al lado de las opciones en el navBar*/
    margin: 5px;
}
.styleSlider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 30px;
}
.styleSlider img{
    width: 80%;
}
.infoBox{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 313px 313px 313px 313px;
    gap: 28px;
    justify-content: center;
}
#styleBox{
    justify-content: center;
    align-items: left;
    flex-direction: column;
    border: 1px ridge gray;
    border-radius: 5px;
}
#styleBox p{
    padding: 5px 0;
    padding-right: 50px;
}
#styleBox h3{
    width: 100%;
    text-align: left !important; 
}
#styleImage{
    width: 100%;
}
.newsBox{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    list-style: none;
    border: 1px ridge gray;
    border-radius: 5px;
}
#intensamentePic{
    height: 35px;
    width: 65px;
}
#newsBox1 {
    display: flex;
    border-bottom: 1px ridge gray;
}
.box1{
    grid-column: 1/2;
    grid-row: 1;
}
.box2{
    grid-column: 2/3;
    grid-row: 1;
}
.box3{
    grid-column: 1/2;
    grid-row: 2;
}
.box4{
    grid-column: 2/3;
    grid-row: 2;
}
.box5{
    grid-column: 1/2;
    grid-row: 3;
}
.box6{
    grid-column: 2/3;
    grid-row: 3;
}
.box7{
    grid-column: 1/2;
    grid-row: 4;
}
.box8{
    grid-column: 3/4;
    grid-column: 1;
    padding-top: 20px;
}
#styleh3{
    padding-top: 10px;
}
.styleFooter{
    background:rgb(3, 3, 36);
    background-image: url(https://img5.goodfon.com/wallpaper/nbig/6/2f/mstiteli-voina-beskonechnosti-avengers-infinity-war-komiks-1.jpg);
    height: 500px;
}
.styleFooter ul li{
    list-style: none;
    color: white;
    margin-top: 20px;
}
.newsItems{
    margin: 10px 0px;
    font-size: small;
}